/* COMMON */

*
{
box-sizing: border-box;
padding: 0;
margin: 0;
}

:root
{
    --gz-main: #FF9614;
    --gz-main-light: #F7972E;
    --gz-secondary: #4E3969;
    --gz-secondary-light: #7C69A4;
    --gz-secondary-lighter: #A599A5;
    --gz-main-bg: #F6F5F3;
    --gz-second-bg: #FFFFFF;
    --gz-dark: #000000;
}

.d-flex
{
    display: flex;
}

/* end COMMON */

/* LAYOUT */

.container
{
    width: 100%;
    padding: 0 1rem;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem -1rem;
}

[class^="col"]
{
  padding: 1rem;
}

.col-1
{
  width: calc(100% / 12 * 1);
}

.col-2
{
  width: calc(100% / 12 * 2);
}

.col-3
{
  width: calc(100% / 12 * 3);
}

.col-4
{
  width: calc(100% / 12 * 4);
}

.col-5
{
  width: calc(100% / 12 * 5);
}

.col-6
{
  width: 50%;
}

.col-7
{
  width: calc(100% / 12 * 7);
}

.col-8
{
  width: calc(100% / 12 * 8);
}

.col-9
{
  width: calc(100% / 12 * 9);
}

.col-10
{
  width: calc(100% / 12 * 10);
}

.col-11
{
  width: calc(100% / 12 * 11);
}

.col-12
{
  width: 100%;
}

/* end LAYOUT */

/* HEADER */

/* end HEADER */

/* MAIN */

/* end MAIN */

/* FOOTER */

/* end FOOTER */